*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
body{
  height: 100%;
  width: 100%;
  /* display: inline-flex;
  justify-content: center; */
}
.body {
  max-width: 1200px;
  margin: auto ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding:0 0px;
}
.top-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: #e8e8e8;
  border-radius: 10px;
  margin-bottom: 10px;
}
.top-header .logo img{
  max-width: 200px;
}
.top-header input{
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}
.top-header button{
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #3979C6;
  color: white;
  cursor: pointer;
}
.shoping-card-login, .scerch-bar{
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.shoping-card-login button {
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
  background-color: #3979C6;
  color: white;
  cursor: pointer;
}
.scerch-bar input{
  width: 200px;
  height: 40px;
}
.scerch-bar button{
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  background-color: #3979C6;
  color: white;
  cursor: pointer;
}
.hero-img img{
  width: 100%;
  height: auto;
  border-radius: 10px;
} 